/* ----------------------------------------------------------------Login------------------------------------------------------------------------ */
.textLogin {
    text-align: left;
}

.linkColor {
    color: red
}

.loginParent {
    display: flex;
}